@model IEnumerable<TasksManagement.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "New", null, new { @class = "btn btn-primary" })
</p>
<table id="users" class="table table-hover table-bordered">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>



            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>

            <th>Operation</th>
        </tr>
    </thead>
<tbody>

</tbody>

</table>

@section scripts{

    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc:""
                },
                columns: [
                    {
                        data: "fullName",
                        render: function (data,type,user) {
                            return "<a href='/users/details/" + user.id + "'>" + user.fullName + "</a>"
                        }
                    },
                    {
                        data: "team.name"
                    },
                    {
                        data: "id",
                        render: function (data,type,user) {
                            return "<button class='btn btn-danger btn-xs js-delete' data-customer-id=" + user.id + ">Delete</button>" + " | " + "<a class='btn btn-primary btn-xs' href='/users/edit/" + user.id + "'>Edit</a>";
                        }
                    }
                ]
            });

            $("#users").on("click", ".js-delete", function () {
                var delbutton = $(this);
                bootbox.confirm("Are You Sure To Delete This Customer?!", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/users/" + delbutton.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(delbutton.parents("tr")).remove().draw();
                            },
                            error: function () {

                            }


                        });

                    }


                })

            });

        });

    </script>

}
